language: python
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
env:
  global:
  - secure: t3z0U8hcIqNB+n/uHzn9XWLd3EQ4HphqGTfMEXTu08Oh0b00iFRQJDQERH2Y0UlgI50j4efzAUBo0RLd/bZwSAjvdueavXqQ66Xk7sxxd/4BsvDSoEdNrW2x7Cb5aimCuhVn7GLcFc4w8MSve7uJQJhKzsXhSpby8yclhGfnqBiNSBSJzzoiWAGYluS7J5pwplrItjLlWKYYRrUAhPLPRTHLYsgSZslVsBZJ1BS1Td8xh+2hFxk7RzQk8UjlIlJ+CA+pDsLkYijaR8Ap+JZejgl/7cgfEIFINKdsoww94TgVgPH7Mcgjr3aHnV+IfXD2EvQWbsURjXMO72+QHmRHJB3XMXYwzAVZ1Oiaz384AelUxIEniP2/iCu+I9QR2l7clNj3ZMLfQQTYBRb1CE9MCRFzW67efWT4NCu6DH4tWy5s5thNGgoFT0HneWWsD/3vMijiHZokIa68orUyOMWjrVwIQrdC2UdHhGgu+I0z4w75K0sNpZyUoKJZiYcl7+vr0Z7OsE0+Va/vFn3Guui0RQt9X+m2EryROmqfvJTG1YOn8xtNwWFWdn4raX9XZUdvASbIL2ww02rvnNfnahShWCJEUjCaJyj311owEWEp4lGS91Ti98l2dG2slAL82CU8NK7EYSk6WYhbrAdw0zZluW4QKFOubdzCn9bzyUCDgig=
  - secure: T6SSFd1NdLFe9Mnca7/geSiIF9lRFsTamSu265zWXTVleOQoI7QJp7WyvCNWus6GFVtEf22NzDp4sDJs8KDHOiEM6U0gByD2eY6x4BkJ7lsWC3WjrzmB0TKBtrOzmCbZVeZwEThxUV2CkYnICEnCm7nMYonYhXDzXZ+Uf2Ho44B66j1JJnrDVDx6WbMq//sx4b5oyP5Ak/cQzGiih6fIGtxyd10tjC+iee2ALCdrnbamX2HZ4MQbl7QyY83hKrluEidl1yqqIFBMutNgV+V0WROYuPst668bb/ay49uGVfkffQpTfe9uvgssXWj9tYIcUyv+lPhStxCutrbezfekvvtCAp4hl0R27nicvqr6WKfqyygBYihxaR3mm3bhvadIF/iSUjdvN8pXpYMnyR7JQfhC2ka0x7qVKnuPLLZdDoOJP1BrB6JBI+y1KTSDtrTU4nyW6J+dUGm10JUaNgTG669gokCzEDfZyU1FifWrNN2vJbEY//PRUrdeCkqv6AY/YlejRecl3KNl0f/oeQzAOO7Scw7jHzpmy5L6Ow6h/ewbZ+eoCPFY/B1dquywq43lmxit3U+UPhm3teXUEzMCRePXQ5+pj51gkei8o3hiuyKj6WdVYgloNG0QXXaZ1rkiV9aOuJIvN7duuhgfnMOBTLHugGy1XphFjcd6qbgJdm8=
install:
- pip install -r requirements-build.txt
script:
- nb test
jobs:
  include:
  - stage: deploy
    python: 3.6
    script: nb pypi
